body{
  background-color: #222222;
  padding: 0px; margin: 0px;
  color: #cccccc;
}
header{
  background-color: #000000;
  border-bottom: 3px solid #bbbbbb;
  text-align: right;
}
#main_img{
  padding: 10px;
  margin-right: 20px;
}
.logo{
  float: left;
  font-size: 30px;
  font-weight: bold;
  padding-left: 40px;
  padding-top: 67px;
}
.container{/*내부의 float를 위해 hidden을 해서 전부 포함한다*/
  overflow: hidden;
}
aside{
  font-size: 1rem;
  float: left;
  width: 200px;
  border-right: 3px solid #bbbbbb;
}
.login_screen{
  height: 115px;
  width: inherit;
  border-bottom: 2px solid #bbbbbb;
}
.login_text{
  margin-top: 4px;
  margin-right: 10px;
  padding-left: 27px;
  height: 83px;
}
.login_button{
  padding-left: 30px;
  padding-top: 5px;
}
.logout_button{
  float: right;
  padding-top: 5px;
  padding-right: 10px;
}
.border_list{
  margin-right: 30 px;
  border-bottom: 2px solid #bbbbbb;
}
section{
  margin-left: 200px;
  font-size: 1rem;
  border-left: 3px solid #bbbbbb;
}
.m_search{
  height: 29px;
  border-bottom: 3px solid #bbbbbb;
}
.write_button{
  float: right;
  margin: 3px;
  margin-right: 3px;
}
article{
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 15px;
}
.u_d_button{
  display: table;
}
.u_button{
  display: table-cell;
}
.d_button{
  display: table-cell;
}
#in_title{
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  min-height: 17px;
  max-height: 17px;
}
#in_description{
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  min-height: 300px;
  max-height: 100%;
}
#in_title_sign{
  width: 170px;
}
#in_author_sign{
  width: 170px;
}
#db_update{
}
footer{
  font-size: 1rem;
  background-color: #222222;
  border-top: 3px solid #bbbbbb;
  position: relative;
  min-width: 100%;
}
#footer_write{
  margin-left: 10px;
  margin-top: 10px;
}
#test_button{
  text-align: right;
}



/*테스트 온*/
.test{background-color: saddlebrown;}
.test header{background-color: chocolate;}
.test aside{background-color:darkgreen;}
.test .m_search{background-color: darkblue;}
.test section{background-color: darkslategray;}
.test footer{background-color: purple;}
/************글씨 관련***************/
a{/*링크 색, 밑줄 없애기*/
  text-decoration: none;
  color: inherit;
}
.title_text{
  font-size: 30pt;
  border-bottom: 3px solid #444444;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.main_text{
  margin-bottom: 50px;
}
.name_text{
  padding-top: 10px;
  font-size: 12pt;
  border-top: 3px solid #444444;
}
.id_text{
  font-size: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 3px solid #444444;
}
